/* Default CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
   font-family: 'Roboto', sans-serif;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

/* first page css  */

.first-img img {
	width: 237px;
}

.header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}
.text-box h2 {
	font-size: 50px;
	font-weight: 700;
	color: #A92170;
}
.text-box h2 sup {
	font-size: 42px;
}

.text-box p {
	font-size: 19px;
	font-weight: 700;
}

.report h2 { 
	font-size: 50px;
	display: flex;
	flex-direction: column;
	color: #0A4D55;
	margin: 100px 0;
	border-bottom: 2px solid #A92170;
    padding-bottom: 50px;
}
.report span {
	color: #A92170; 
} 

.footer-area {
	text-align: right;
}

.footer-area img {
	width: 60%;
}


/* l2 css  */
.l2-header img {
	width: 81%;
}

.l2-title {
	margin: 50px 0;
}

.l2-title h2 {
	display: flex;
	flex-direction: column;
	font-size: 40px;
	font-weight: 700;
	color: #A92170; 
	margin-top: 18px;
}

.l2-title h2 span{
	color: #0A4D55;
}

.main-l2-list {
	width: 337px;
  margin-bottom: 50px;
}

.l2-list-title p {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #A92170;
}

.l2-list li { 
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}
.l2-list-title p span{ 
	font-size: 14px;
}
.l2-list{
  margin-bottom: 15px;
}

/* l3 style css  */
.l3-content h2 {
	font-size: 45px;
	font-weight: 700;
	margin: 80px 0 26px 0;
  color: #A92170;
}


/* l4 style css  */

.l2-title p {
	width: 38%;
	margin-top: 11px;
}

.l4-img {
	text-align: center;
}

.l4-img img {
	width: 527px;
}
 

.l4-table thead tr th {
	border: 1px dotted #000;
	text-align: center;
	background: #ddd;
}
 

.l4-table tbody tr td {
	border: 1px dotted #000;
	text-align: center; 
}

.main-l4{
  margin-bottom: 45px;
}

/* l5 style css  */

.l5-title {
	text-align: right;
	margin: 25px;
}

.l5-title h2{
  font-size: 40px;
  font-weight: 700;
}

.l5-title h2 span{
  color: #A92170; 
}
.l5-content h4 {
	font-size: 22px;
	margin: 25px 0 10px 0;
	color: #645b5bde;
}

.l5-footer {
	text-align: right;
	margin: 60px 0 25px 0;
}

/* l6 syle css  */

.l6-content{
    margin-top:25px;
  }
  
  .l6-content-last h2 {
      font-size: 31px; 
      font-weight: 700;
    color: #A92170; 
      margin: 35px 0 10px 0;
  }

  /* l7 style css  */

.l7-content img {
	width: 100%;
}

.l7-title h2 {
	font-size: 40px; 
	margin-top: 30px;
}

.l7-content svg {
	width: 100%;
	height: 500px;
}


/* l8 style css  */

.l8-title {
	text-align: right;
}

.l8-title h2 {
	font-size: 40px;
	font-weight: 700;
	color: #A92170; 
}

.l8-title h3 {
	font-size: 22px;
	position: relative;
	/* margin-top: 37px; */
	color: #063740;
}

.l8-title h3:after{
	content: "";
	position: absolute;
	width: 45px;
	height: 3px;
	right: 0;
	background: #063740;
	top: -20px;
}

.l8-content {
	display: flex;
	gap: 56px;
	margin: 24px 0px;
}

.l8-content p {
	flex: 0 0 48%;
}

.l8-map img {
	width: 100%;
	height: 384px;
}
.l8-map svg {
	width: 100%;  
	height: 284px;
}

/* l10 style css  */

.bars-l10 h2 {
	font-size: 30px;
	font-weight: 700;
}
.bars-l10 h2 span{ 
	color: #A92170; 
}
.bars-l10 svg {
	width: 55px;
	margin-left: -8px;
}

.l8-content .bars-l10 { 
	flex: 0 0 20%;
}
.l8-content p {
	flex: 0 0 35%;
}

.l10-chart svg {
	/* width: 100%;  */
}



/* l11 style css  */

.l10-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.l10-chart svg {
	width: 100%;
	height: 333px;
}


.l10-left{ 
	flex:  0 0 29%;
}  
.l10-header{ 
	margin: 25px 0;
}
.l10-right {
	flex:  0 0 69%;
}

.l10-header-top { 
	text-align: right;
} 

.l10-chart h2,
.l10-header-top h2 { 
	font-size: 40px;
	font-weight: 700;
}
.l10-chart h2 span,
.l10-header-top h2 span{ 
	color: #A92170; 
}

.l10-text{
	margin: 25px 0;
} 

.l10-text-box {
	display: flex;
	justify-content: space-between; 
	margin: 25px 0;
}

.l10-text p,
.l10-left p {
	text-align: justify;
}
.l10-text-box p {
	flex: 0 0 48%;
	text-align: justify;
}

#anatomy-simple-chart {
	height: 300px;
	max-width: 400px;
	margin: 50px 0;
	display: flex;
	align-items: flex-end;
	overflow-y: hidden;
	min-width: min-content;
}

/* l12 style css  */

.l12-title H2 {
	font-size: 40px;
	margin-top: 35px;
	font-weight: 700;
}

.l12-title svg {
	width: 100%;
	height: 500px;
}

/* l14 style css  */

.l14-logo svg {
	width: 456px;
	height: 204px;
}

.l14-content h2 {
	font-size: 50px;
	font-weight: 700;
}

.l14-content h3 {
	font-size: 22px;
	margin: 25px 0 10px 0;
}

.l14-content ul{
	margin-bottom: 25px;
}

.l14-content ul li {
	margin-bottom: 5px;
}




/* l9 style css  */


.card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
	border: none;
}
  
  .card .percent {
	position: relative;
  }
  
  .card svg {
	position: relative;
	width: 210px;
	height: 210px;
	transform: rotate(-90deg);
  }
  
  .card svg circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #f0f0f0;
	stroke-width: 10;
	stroke-linecap: round;
  }
  
  .card svg circle:last-of-type {
	stroke-dasharray: 625px;
	stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
	stroke: #0A4D55; 
  }
  
  .card .number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .card .number h3 {
	font-weight: 200;
	font-size: 3.5rem;
  }
  
  .card .number h3 span {
	font-size: 2rem;
  }
  
  .card .title h2 {
	margin: 25px 0 0;
  }
  
  .card:nth-child(1) svg circle:last-of-type {
	stroke: #50535C;
  }
  
  .card:nth-child(2) svg circle:last-of-type {
	stroke: #A92170;
  }
  .l9-progress-bar {
	display: flex;
	justify-content: space-between;
}
.progress-title H2 {
	font-size: 40px;
	margin: 70px 0 34px 0;
	font-weight: 700;
}